{% extends 'layout.html' %}
{% block title %}
   Cadastro
{% endblock %}
{% block stylesheet %}
   <link href="static/css/form-validation.css" rel="stylesheet">

{% endblock %}
{% block script %}
   <script>
      var erroSenha  = GetElementById("container").getAttribute("data-alert");
   alert("okay");
   </script>
{% endblock %}
{% block body %}

<div class="container bg-light" id="container" data-alert="{{erroSenha}}">

  <div class="row">

     <div class="col-md-3"></div>
    <div class="col-md-6 order-md-1" style="margin-top:40px;">
      <h3 class="mb-3 text-center">Cadastro</h3>
         <form class="needs-validation" action="{{ url_for('acao_cadastro') }}" method="POST">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome" placeholder="" value="" required autofocus>
            <div class="invalid-feedback">
              Não pode ficar em branco.
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="sobrenome">Sobrenome</label>
            <input type="text" class="form-control" id="sobrenome" name="sobrenome" placeholder="" value="" required>
            <div class="invalid-feedback">
              Não pode ficar em branco.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="exemplo@exemplo.com" required>
          <div class="invalid-feedback">
            Por favor, entre em email válido.
          </div>
        </div>
         <div class="row">
           <div class="col-md-6 mb-3">
             <label for="senha">Senha</label>
             <input type="password" class="form-control" id="senha" name="senha" placeholder="" value="" required>
             <div class="invalid-feedback">
               Não pode ficar em branco.
             </div>
           </div>
           <div class="col-md-6 mb-3">
             <label for="confirmarSenha">Confirmar senha</label>
             <input type="password" class="form-control" id="confirmarSenha" name="confirmarSenha" placeholder="" value="" required>
             <div class="invalid-feedback">
               Não pode ficar em branco.
             </div>
           </div>
         </div>

        <div class="mb-3">
          <label for="genero">Gênero</label>
          <select class="form-control" name="genero">
             <option value="0">Masculino</option>
             <option value="1">Feminino</option>
             <option value="2">Outro</option>
             <option value="3">Desejo não informar</option>
          </select>
          <div class="invalid-feedback">
            Por favor, entre um valor válido.
          </div>
        </div>

        <div class="mb-3">
          <label for="dataNasc">Data de Nascimento</label>
          <input type="date" class="form-control" id="dataNasc" name="dataNasc" placeholder="DD/MM/AAAA">
          <div class="invalid-feedback">
            Por favor, entre um valor válido.
          </div>
        </div>
        <input type="hidden" class="form-control" id="dataCadastro" name="dataCadastro" value="2000-12-2">
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Cadastrar</button>
      </form>
    </div>
  </div>
</div>


{% endblock %}
