{% extends 'layout-sem-menu.html' %}
{% block title %}
   Página inicial
{% endblock %}
{% block stylesheet %}
   <link href="static/css/cover.css" rel="stylesheet">
{% endblock %}
{% block body %}

<div class="text-center cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Capa</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link" href="login.html" style="color:white;">Login</a>
        <a class="nav-link" href="sobre.html" style="color:white;">Acessar como Visitante</a>
      </nav>
    </div>
  </header>

   <main role="main" class="inner cover">
      <h1 class="cover-heading">Psicologia & Tecnologia</h1>
      <p class="lead">Um software que reúne amparos tecnológicos com oensino de psicologia de forma a auxiliar no preparo dos futuros profissionais da área da saúde psicologica ao atender seus clientes.</p>
   </main>

   <footer class="mastfoot mt-auto">
      <div class="inner">
      <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      </div>
   </footer>

</div>

{% endblock %}
