{% extends 'layout.html' %}
{% block title %}
   Perfil
{% endblock %}
{% block stylesheet %}
   <link href="static/css/blog.css" rel="stylesheet">
{% endblock %}
{% block script %}
{% endblock %}

   <!-- Rolar a página automaticamente -->
   <script>
   jQuery(document).ready(function($) {
       $(".scroll").click(function(event){
           event.preventDefault();
           $('html,body').animate({scrollTop:$(this.hash).offset().top}, 600);
      });
   });
   </script>
{% block body %}
  <div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-12 text-center">
        <a class="blog-header-logo text-dark" href="#">Psicologia e Tecnologia</a>
      </div>
    </div>
  </header>

  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 text-muted" href="chat.html">Iniciar sessão</a>
      <a class="p-2 text-muted" href="personalizado.html">IA personalizada</a>
      <a class="p-2 text-muted" href="sobre.html">Sobre o projeto</a>
      <a class="p-2 text-muted" href="orientacoes.html">Orientação de uso</a>
      <a class="p-2 text-muted" href="IA.html">Inteligência Artificial</a>
      <a class="p-2 text-muted" href="pesquisadores.html">Pesquisadores</a>
      <a class="p-2 text-muted" href="perfil.html">Perfil</a>
    </nav>
  </div>

  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-7 px-0">
      <h1 class="display-4 font-italic">Perfil</h1>
    </div>
  </div>
{% endblock %}
