{% extends 'layout.html' %}
{% block title %}
   Sobre o projeto
{% endblock %}
{% block stylesheet %}
   <link href="static/css/blog.css" rel="stylesheet">
{% endblock %}
{% block script %}
{% endblock %}

   <!-- Rolar a página automaticamente -->
   <script>
   jQuery(document).ready(function($) {
       $(".scroll").click(function(event){
           event.preventDefault();
           $('html,body').animate({scrollTop:$(this.hash).offset().top}, 600);
      });
   });
   </script>
{% block body %}
  <div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-12 text-center">
        <a class="blog-header-logo text-dark" href="#">Psicologia e Tecnologia</a>
      </div>
    </div>
  </header>

  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 text-muted" href="chat.html">Iniciar sessão</a>
      <a class="p-2 text-muted" href="personalizado.html">IA personalizada</a>
      <a class="p-2 text-muted" href="sobre.html">Sobre o projeto</a>
      <a class="p-2 text-muted" href="orientacoes.html">Orientação de uso</a>
      <a class="p-2 text-muted" href="IA.html">Inteligência Artificial</a>
      <a class="p-2 text-muted" href="pesquisadores.html">Pesquisadores</a>
      <a class="p-2 text-muted" href="perfil.html">Perfil</a>
    </nav>
  </div>

  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-7 px-0">
      <h1 class="display-4 font-italic">Inteligência artificial no ensino-aprendizagem.</h1>
      <p class="lead my-3">O projeto tem como princípio auxiliar os estudantes de graduação em psicologia através do uso da inteligência artificial.</p>
      <!-- <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p> -->
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-4">Orientações de uso</h3>
          <p class="card-text mb-auto">O software foi idealizado para comunicar a inteligência artificial com os usuários de maneira que a inteligência artificial simule estar com um transtorno psicológico enquanto cabe aos usuários tratar desse transtorno.</p>
          <a href="orientacoes.html" class="stretched-link scroll">Aprofundar</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-4">Inteligência Artificial</h3>
          <p class="card-text mb-auto">A inteligência artificial é uma tecnologia que procura simular a inteligência humana o máximo possível. O ideal é que não seja possível distinguir, como por exemplo em uma conversação nesse site, se você está falando com um computador ou com um humano.</p>
          <a href="IA" class="stretched-link scroll">Aprofundar</a>
        </div>
      </div>
    </div>
      </div>
    </div>
  </div>
</div>

<main role="main" class="container" id="sobreProjeto">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h3 class="pb-4 mb-4 font-italic border-bottom">
        INTELIGÊNCIA ARTIFICIAL APLICADA AO ATENDIMENTO PSICOLÓGICO.
      </h3>
      <div class="blog-post">
        <p>Atualmente, a inteligência artificial tem ganhado muita relevância no mundo, sendo uma ferramenta que automatiza muitas tarefas.
        A partir disso, se propôs uma relação entre áreas que geralmente são tratadas como distintas. A psicologia e a inteligência artificial.</p>
        <p>A proposta inicial foi desenvolver um software que ajudasse pessoas que sofrem com doeças mentais como depressão, por exemplo.
        Desenvolveu-se pesquisa aprofundada acerca das doenças mentais; realizou-se conversas com psicólogas, assitentes sociais e profissionais da área de saúde
        com o objetivo de compreender melhor a realidade e sugerir maneiras de reduzir problemas sociais oriundos das doenças mentais.</p>
        <p>Posto isso, após muita pesquisa, o projeto se encaminhou para um realidade de cunho pedagógico. A plataforma é destinada para estudantes da graduação do curso de psicologia e tem por objetivo auxiliá-los na formação profissional.</p>
        <p>A relação entre o estudante e a inteligência artificial é a seguinte: a inteligência que foi simulada se apresenta como um paciente, e o estudante, o psicólogo. O estudante realiza sessões com a inteligência artificial para exercitar de uma maneira prática os estudos na área.</p>
      </div><!-- /.blog-post -->
    </div><!-- /.blog-main -->
    <aside class="col-md-4 blog-sidebar">
      <div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic">Pesquisadores</h4>
        <p class="mb-0">O projeto foi desenvolvido no Instituto Federal Catarinense de educação, ciência e tecnologia Campus Rio do Sul - Unidade Urbana pelos estudantes Jardel Murilo Day e Mayron Kersbaum orientados por Ricardo Scopel Velho e María Elena Villarreal.</p>
      </div>
      <div class="p-4">
        <h4 class="font-italic">Arquivos</h4>
        <ol class="list-unstyled mb-0">
          <li><a href="#">March 2014</a></li>
          <li><a href="#">February 2014</a></li>
          <li><a href="#">January 2014</a></li>
          <li><a href="#">December 2013</a></li>
          <li><a href="#">November 2013</a></li>
          <li><a href="#">October 2013</a></li>
          <li><a href="#">September 2013</a></li>
          <li><a href="#">August 2013</a></li>
        </ol>
      </div>
    </aside><!-- /.blog-sidebar -->
  </div><!-- /.row -->
</main><!-- /.container -->
<footer class="blog-footer">
  <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>
{% endblock %}
